/* Parte 1: Nav */
/* Todos os elementos ganham margem zero e seu tamanho será medido contando as bordas */
* {
    margin: 0;
    box-sizing: border-box;
}

/* O corpo da página ganha fonte Arial e fundo preto */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
}

/* A logo da Netflix terá 80px de largura */
/* A propriedade CSS object-fit especifica como o conteúdo de um elemento substituído deve ser ajustado à caixa estabelecida pela altura e largura usadas. */
/* O conteúdo substituído é dimensionado para manter sua proporção enquanto se encaixa na caixa de conteúdo do elemento: seu tamanho de objeto concreto é resolvido como uma restrição em relação à largura e altura usadas do elemento. */
.nav__logo {
    width: 80px;    
    object-fit: contain;
}

/* A foto "avatar" é ajustar para conter na caixa com a largura de 30px*/
.nav__avatar {
    width: 30px;
    object-fit: contain;
}
